<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.png') }}"
    />
    <title>Best Deal Finder</title>
  </head>
  <body>
    <form>
      <h1 id="find_best_deal">
        Finding the best deal is now just a click away!
      </h1>
      <div class="search_div">
        <div class="search_query">
          <input
            type="text"
            id="search_bar"
            class="search_bar"
            name="search_bar"
            placeholder=" What are you looking for today?"
          />
          <input
            type="image"
            src="{{ url_for('static', filename='img/search_button.png')}}"
            alt="Search Button"
            id="search_button"
            class="search_button"
          />
        </div>
        <div class="number_of_search_results">
          Number of deals to find from each website:
        </div>
        <div class="select_results">
          <select id="select_number" name="select_number">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <br />
    </form>
  </body>
</html>
