body {
  background-color: #f6f8fa;
  font-family: "Open Sans", sans-serif;
}

.search_div {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.search_bar {
  height: 4rem;
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #edf2f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search_bar::placeholder {
  opacity: 0.5;
  font-size: 1.5rem;
}

.search_button {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  border-radius: 50%;
  background-color: #5a67d8;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.search_query {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  margin: 2rem 0;
}
